<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>578341291434-oapa9g8obu91oh44l0kj61nmf67g9882.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578341291434-oapa9g8obu91oh44l0kj61nmf67g9882</string>
	<key>API_KEY</key>
	<string>AIzaSyDj6kZzH5rBKyaVQTp85rGa37Eu82FoCUU</string>
	<key>GCM_SENDER_ID</key>
	<string>578341291434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fbreidenbach.CoOpManager</string>
	<key>PROJECT_ID</key>
	<string>babysitting-coop</string>
	<key>STORAGE_BUCKET</key>
	<string>babysitting-coop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578341291434:ios:895a4a81dce146a8</string>
	<key>DATABASE_URL</key>
	<string>https://babysitting-coop.firebaseio.com</string>
</dict>
</plist>